/* some common css property styel */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}


/* body{
    font-family: "Inter", sans-serif;
    font-family: "Merriweather", sans-serif;
} */

/* header style start */

.banner {
    height: 600px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('/images/Banner\ Image.png');
}

.banner-title {
    position: absolute;
    left: 30%;
    top: 30%;
}

.banner-title h3 {
    font-size: 32px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    font-family: "Merriweather", sans-serif;
}

.banner-title h1 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: "Merriweather", sans-serif;
}

/* header style end */

/* all category style start */
.category {
    margin-top: 120px;
    text-align: center;
}

.category-description h1 {
    font-size: 88px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.category-description h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.category-description h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    color: rgb(7, 2, 17);
}

.category-image {
    margin-top: 48px;
}

/* all category style end */

/* night party style start */
.night-party {
    height: 600px;
    border-radius: 10px;
    margin-top: 120px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('/images/Vectorrr.png');
}

.midnight-party {
    display: flex;
    align-items: center;
    position: relative;
    transform: translateY(100px);
    justify-content: space-evenly;
}

.party-description {}

.party-description h1 {
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    font-family: "Merriweather", sans-serif;
    color: rgb(255, 255, 255);
}

.party-description p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.party-description button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    margin-left: 40px;
    text-decoration: none;
    border: none;
    background-color: rgb(105, 11, 2);
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

.party-image img {
    background-color: linear-gradient rgb(105, 11, 2);
}

/*------- place section start */
.place-title {
    height: 482px;
    margin-top: 120px;
    padding-top: 100px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place-title h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.orange {
    color: rgb(255, 0, 0);
}

/*------- place section end */

/* best offer section start */
.best-offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-image{
    width: 463px;
    height: 463px;
    border-radius: 50%;
    position: relative;
    border: 15px solid rgb(255, 0, 0);
}
.offer-image img{
    position: absolute;
    bottom: 30px;
    left: 34px;
}
/* best offer section end */