/* some common css property styel */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}


/* body{
    font-family: "Inter", sans-serif;
    font-family: "Merriweather", sans-serif;
} */

/* header style start */

.banner {
    height: 600px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('/images/banner\ Image.png');
}

.banner-title {
    position: absolute;
    left: 30%;
    top: 30%;
}

.banner-title h3 {
    font-size: 32px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    font-family: "Merriweather", sans-serif;
}

.banner-title h1 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: "Merriweather", sans-serif;
}

/* header style end */

/* all category style start */
.category {
    margin-top: 120px;
    text-align: center;
}

.category-description h1 {
    font-size: 88px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.category-description h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.category-description h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    color: rgb(7, 2, 17);
}

.category-image {
    margin-top: 48px;
}

/* all category style end */

/* night party style start */
.night-party {
    height: 600px;
    border-radius: 10px;
    margin-top: 120px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('/images/Vectorrr.png');
}

.midnight-party {
    display: flex;
    align-items: center;
    position: relative;
    transform: translateY(100px);
    justify-content: space-evenly;
}

.party-description {}

.party-description h1 {
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    font-family: "Merriweather", sans-serif;
    color: rgb(255, 255, 255);
}

.party-description p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.party-description button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    margin-left: 40px;
    text-decoration: none;
    border: none;
    background-color: rgb(105, 11, 2);
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

.party-image img {
    background-color: linear-gradient rgb(105, 11, 2);
}

/*------- place section start */
.place-title {
    height: 482px;
    margin-top: 120px;
    padding-top: 100px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place-title h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.orange {
    color: rgb(255, 0, 0);
}

/*------- place section end */

/* best offer section start */
.best-offer {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
}

.offer-description h4 {
    font-size: 24px;
    flex-wrap: 500;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.offer-description h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    font-family: "Merriweather", sans-serif;
    color: rgb(7, 2, 17);
}

.offer-description p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
}

.offer-image {
    width: 463px;
    height: 463px;
    border-radius: 50%;
    position: relative;
    border: 15px solid rgb(255, 0, 0);
}

.offer-image img {
    position: absolute;
    bottom: 30px;
    left: 34px;
}

.offer-details h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(255, 0, 0);
}

.offer-details p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
}

.offer-details img {
    margin-top: 50px;
}

/* best offer section end */

/* holyday sales section start */
.holyday {
    margin-top: 120px;
}

.holyday-description {
    text-align: center;
}

.holyday-description h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: rgb(7, 2, 17);
}

.holyday-description h1 {
    font-size: 72px;
    font-weight: 900;
    font-family: "Merriweather", sans-serif;
    margin-top: 16px;
}

.holyday-description h1 span {
    color: rgb(255, 0, 0);
}

.holyday-description p {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 32px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
}

/* holyday sales section end */

/* -- holyday sales discount start */
.holyday-discount {
    height: 286px;
    width: 286px;
    border-radius: 100%;
    position: relative;
    transform: translateX(320%);
    background-color: rgb(255, 0, 0);
}

.discount {
    position: absolute;
    bottom: 85px;
    left: 70px;
    transform: rotate(-34.21deg);
}

.holyday-images {
    margin-top: 150px;
}

.holyday-discount h1 {
    font-size: 73px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

.holyday-discount h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

.holyday-box {
    position: relative;
    margin-top: 120px;
}

.box {
    position: absolute;
    top: -170%;
}

/* -- holyday sales discount end */

/* awesome portfolio seciton start */
.awesome-portfolio {
    margin-top: 120px;
}

.portfolio-description h4 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
}

.portfolio-description h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    color: rgb(7, 2, 17);
    font-family: "Merriweather", sans-serif;
}

.portfolio-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
}

.portfolio-images {
    display: grid;
    gap: 24px;
    margin-top: 48px;
    grid-template-columns: repeat(3, 1fr);
}

/* awesome portfolio seciton end */

/* subscribe newsletter start */
.newsletter {
    border-radius: 16px;
    text-align: center;
    margin-top: 120px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter-description img{
    margin-top: 80px;
}
.newsletter-description h1{
    font-size: 60px;
    margin-top: 45px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    font-family: "Merriweather", sans-serif;
}
.newsletter-description p{
    font-size: 20px;
    margin-top: 22px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
}
.email{
    width: 438px;
    height: 72px;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 30px;
    border: none;
    margin-top: 48px;
    border-radius: 50px 0 0 50px;
    color: rgba(7, 2, 17, 0.3);
    font-family: "Inter", sans-serif;
}
.input-btn{
    width: 210px;
    height: 72px;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
    border: none;
    border-radius: 0 50px 50px 0;
    color: rgb(255, 255, 255);
    position: relative;
    right: 3px;
    margin: 48px 0 80px 0;
    background-color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
}
/* subscribe newsletter end */

/* footer seciton start */
footer{
    margin-top: 120px;
    background: rgb(7, 2, 17);
}
.footer-details{
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
}
.footer-details h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}
.site{
    display: flex;
    gap: 15px;
    line-height: 40px;
}
.site p{
    font-size: 24px;
    color: white;
}
hr{
    margin-top: 50px;
}
.footer-images{
    text-align: center;
}
.footer-images img{
    margin-top: 50px;
    margin-left: 24px;
}
.copy-right{
    display: flex;
    margin-top: 50px;
    padding-bottom: 120px;
    justify-content: space-between;
}
.copy-right p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
}

/* footer seciton end */